In [6]:
import pandas as pd

# CSV 파일 경로
file_path = 'genderAgeuul2018_2022.csv'

# CSV 파일을 DataFrame으로 열기
df = pd.read_csv(file_path,encoding='cp949')

# DataFrame 출력
print(df)
#v1

        진료년도  상별구분  시도  시군구 성별     연령구분   환자수  입내원일수     요양급여비용
0       2018  ADHD  서울  강남구  남     0~9세   437   3330  188836790
1       2018  ADHD  서울  강남구  남   10~19세  1111   8869  563498480
2       2018  ADHD  서울  강남구  남   20~29세   456   3485  213248290
3       2018  ADHD  서울  강남구  남   30~39세   174   1357   72761750
4       2018  ADHD  서울  강남구  남   40~49세    55    357   21611080
...      ...   ...  ..  ... ..      ...   ...    ...        ...
164995  2022   조현병  세종  세종시  여   60~69세    29    597   40381390
164996  2022   조현병  세종  세종시  여   70~79세    13    550   39400730
164997  2022   조현병  세종  세종시  여   80~89세     0      0          0
164998  2022   조현병  세종  세종시  여   90~99세     0      0          0
164999  2022   조현병  세종  세종시  여  100세 이상     0      0          0

[165000 rows x 9 columns]

In [35]:
df2 = pd.read_csv("경기인구v1.csv", encoding='cp949')
df3 = pd.read_csv("강원인구v1.csv", encoding='cp949')
df4 = pd.read_csv("경남인구v1.csv", encoding='cp949')
df5 = pd.read_csv("경북인구v1.csv", encoding='cp949')
df6 = pd.read_csv("서울_광역시_인구v1.csv", encoding='cp949')
df7 = pd.read_csv("세종인구v1.csv", encoding='cp949')
df8 = pd.read_csv("전남_인구v1.csv", encoding='cp949')
df9 = pd.read_csv("전북_인구v1.csv", encoding='cp949')
df10 = pd.read_csv("제주인구v1.csv", encoding='cp949')
df11 = pd.read_csv("충남인구v1.csv", encoding='cp949')
df12 = pd.read_csv("충북인구v1.csv", encoding='cp949')

df2.head()
# df3.head()
# df4.head()
# df11.head()

,행정구역,총인구수,연령구간인구수,0~9세,10~19세,20~29세,30~39세,40~49세,50~59세,60~69세,...,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,sum_60,sum_0_20,sum_20_60,oldAgePercent,childAgePercent,adultAgePercent
0,경기도,13630821,13630821,989550,1320631,1682138,1878734,2256931,2335999,1831793,...,NaN,NaN,NaN,NaN,3166838,2310181,8153802,23.232922,16.948216,59.818862
1,수원시,1197257,1197257,82636,113383,175839,184342,195012,202330,146108,...,NaN,NaN,NaN,NaN,243715,196019,757523,20.356114,16.372341,63.271545
2,수원시 장안구,270849,270849,15171,26211,40724,33585,41002,49885,36970,...,NaN,NaN,NaN,NaN,64271,41382,165196,23.729458,15.278624,60.991918
3,수원시 권선구,366167,366167,25476,32358,49920,57315,59602,62539,48626,...,NaN,NaN,NaN,NaN,78957,57834,229376,21.563112,15.794433,62.642455
4,수원시 팔달구,197213,197213,11737,14079,30338,32305,28749,32690,26876,...,NaN,NaN,NaN,NaN,47315,25816,124082,23.991826,13.090415,62.917759

In [36]:
new_df2 = df2.drop(df2.columns[14:-3], axis=1)
new_df3 = df3.drop(df3.columns[14:-3],axis=1)
new_df4 = df4.drop(df4.columns[14:-3],axis=1)
new_df5 = df5.drop(df5.columns[14:-3],axis=1)
new_df6 = df6.drop(df6.columns[14:-3],axis=1)
new_df7 = df7.drop(df7.columns[14:-3],axis=1)
new_df8 = df8.drop(df8.columns[14:-3],axis=1)
new_df9 = df9.drop(df9.columns[14:-3],axis=1)
new_df10 = df10.drop(df10.columns[14:-3],axis=1)
new_df11 = df11.drop(df11.columns[14:-3],axis=1)
new_df12 =df12.drop(df12.columns[14:-3],axis=1)

new_df2.head()

,행정구역,총인구수,연령구간인구수,0~9세,10~19세,20~29세,30~39세,40~49세,50~59세,60~69세,70~79세,80~89세,90~99세,100세 이상,oldAgePercent,childAgePercent,adultAgePercent
0,경기도,13630821,13630821,989550,1320631,1682138,1878734,2256931,2335999,1831793,847103,423029,63061,1852,23.232922,16.948216,59.818862
1,수원시,1197257,1197257,82636,113383,175839,184342,195012,202330,146108,62753,30244,4483,127,20.356114,16.372341,63.271545
2,수원시 장안구,270849,270849,15171,26211,40724,33585,41002,49885,36970,16909,8973,1378,41,23.729458,15.278624,60.991918
3,수원시 권선구,366167,366167,25476,32358,49920,57315,59602,62539,48626,20039,8919,1345,28,21.563112,15.794433,62.642455
4,수원시 팔달구,197213,197213,11737,14079,30338,32305,28749,32690,26876,13234,6346,831,28,23.991826,13.090415,62.917759

In [37]:
print(new_df3)

         행정구역     총인구수  연령구간인구수   0~9세  10~19세  20~29세  30~39세  40~49세  \
0   강원특별자치도    1527807  1527807  90872  129053  163610  158594  208819
1        춘천시    286426   286426  18917   26060   36972   34305   40807
2        원주시    361503   361503  25618   34679   42306   45545   55623
3        강릉시    209439   209439  11413   17380   22654   20358   29591
4        동해시     88625    88625   5426    8266    8485    8244   13245
5        태백시     38702    38702   1823    3385    3053    2844    5531
6        속초시     82054    82054   5063    6826    8130    8946   11671
7        삼척시     62651    62651   3196    4806    6589    4898    7831
8        홍천군     67309    67309   3193    4544    5752    5544    7349
9        횡성군     46359    46359   1873    3349    3165    3007    4659
10       영월군     37332    37332   1420    2576    2799    2368    4034
11       평창군     40659    40659   1413    2623    3034    2690    4496
12       정선군     34202    34202   1315    2239    2291    2316    4174
13       철원군     41448    41448   2659    3283    4532    4259    4890
14       화천군     23007    23007   1459    1618    2928    2595    2347
15       양구군     21056    21056   1454    1845    2412    2325    2380
16       인제군     32020    32020   2289    2287    3888    3898    3906
17       고성군     27305    27305   1272    1593    2518    2373    2939
18       양양군     27710    27710   1069    1694    2102    2079    3346

    50~59세  60~69세  70~79세  80~89세  90~99세  100세 이상  oldAgePercent  \
0   262513  275323  141876   84135   12622      390      33.665640
1    46897   44359   21996   13913    2137       63      28.792079
2    62537   54711   23940   14305    2184       55      26.333115
3    36506   37188   20886   11534    1869       60      34.156485
4    15922   15323    8542    4533     626       13      32.763893
5     6860    7641    4877    2441     239        8      39.289959
6    14927   14827    7248    3797     609       10      32.284837
7    10760   12185    7202    4440     722       22      39.218847
8    11419   15943    7877    4897     768       23      43.839605
9     8140   11782    6090    3710     564       20      47.813801
10    6788    8875    5008    3034     420       10      46.466838
11    7609   10046    5322    2999     410       17      46.223468
12    6336    8139    4449    2575     350       18      45.409625
13    6617    7708    4369    2749     368       14      36.691758
14    3616    4339    2191    1677     223       14      36.701873
15    3224    3970    1903    1340     198        5      35.220365
16    4846    6119    2770    1735     271       11      34.059963
17    4648    5988    3451    2194     316       13      43.808826
18    4861    6180    3755    2262     348       14      45.322988

    childAgePercent  adultAgePercent
0         14.394816        51.939545
1         15.702834        55.505087
2         16.679530        56.987356
3         13.747678        52.095837
4         15.449365        51.786742
5         13.456669        47.253372
6         14.489239        53.225924
7         12.772342        48.008811
8         11.494748        44.665646
9         11.264264        40.921935
10        10.703954        42.829208
11         9.926462        43.850070
12        10.391205        44.199170
13        14.336036        48.972206
14        13.374190        49.923936
15        15.667743        49.111892
16        14.291068        51.648969
17        10.492584        45.698590
18         9.971130        44.705882

In [38]:
combined_df = pd.concat([new_df2, new_df3, new_df4, new_df5, new_df6, new_df7, new_df8, new_df9, new_df10, new_df11, new_df12], axis=0)

#합쳐진 엑셀 NaN지우기
cleaned_df = combined_df.dropna()

# CSV 파일로 저장
csv_file = 'people_combined_data.csv'
cleaned_df.to_csv(csv_file, index=False, encoding="cp949")

print(f'DataFrame saved to {csv_file}')

DataFrame saved to people_combined_data.csv