In [1]:
import pandas as pd

df = pd.read_csv("people_combined_data.csv")

In [15]:
df.head()

,행정구역,총인구수,연령구간인구수,0~9세,10~19세,20~29세,30~39세,40~49세,50~59세,60~69세,70~79세,80~89세,90~99세,100세 이상,oldAgePercent,childAgePercent,adultAgePercent
0,경기도,13630821.0,13630821.0,989550.0,1320631.0,1682138.0,1878734.0,2256931.0,2335999.0,1831793.0,847103.0,423029.0,63061.0,1852.0,23.232922,16.948216,59.818862
1,수원시,1197257.0,1197257.0,82636.0,113383.0,175839.0,184342.0,195012.0,202330.0,146108.0,62753.0,30244.0,4483.0,127.0,20.356114,16.372341,63.271545
2,수원시 장안구,270849.0,270849.0,15171.0,26211.0,40724.0,33585.0,41002.0,49885.0,36970.0,16909.0,8973.0,1378.0,41.0,23.729458,15.278624,60.991918
3,수원시 권선구,366167.0,366167.0,25476.0,32358.0,49920.0,57315.0,59602.0,62539.0,48626.0,20039.0,8919.0,1345.0,28.0,21.563112,15.794433,62.642455
4,수원시 팔달구,197213.0,197213.0,11737.0,14079.0,30338.0,32305.0,28749.0,32690.0,26876.0,13234.0,6346.0,831.0,28.0,23.991826,13.090415,62.917759

In [16]:
df2 = pd.read_csv("genderAgeuul2018_2022.csv", encoding='cp949')
df2.head()

   진료년도  상별구분  시도  시군구 성별    연령구분   환자수  입내원일수     요양급여비용
0  2018  ADHD  서울  강남구  남    0~9세   437   3330  188836790
1  2018  ADHD  서울  강남구  남  10~19세  1111   8869  563498480
2  2018  ADHD  서울  강남구  남  20~29세   456   3485  213248290
3  2018  ADHD  서울  강남구  남  30~39세   174   1357   72761750
4  2018  ADHD  서울  강남구  남  40~49세    55    357   21611080

In [29]:
df_filtered= df2[df2['상별구분']=='우울증']

df_filtered.to_csv("uulData.csv",encoding='cp949',index=False)

In [66]:
df2 = pd.read_csv("uulData.csv", encoding="cp949")
df2.head()

   진료년도 상별구분  시도  시군구 성별    연령구분   환자수  입내원일수     요양급여비용
0  2018  우울증  서울  강남구  남    0~9세    17    143    6089540
1  2018  우울증  서울  강남구  남  10~19세   563   5125  341371930
2  2018  우울증  서울  강남구  남  20~29세  1555  11045  733848570
3  2018  우울증  서울  강남구  남  30~39세  1372   8814  566378520
4  2018  우울증  서울  강남구  남  40~49세  1200   7944  472023980

In [67]:
for i in range(0,len(df2),11) :
    arr = df2.iloc[i:i+2]
    age_sum = arr.iloc[:,6].sum()
    df2.loc[i:i+2, 'age_sum'] = int(age_sum)
    
    
for i in range(2,len(df2),11) :
    arr = df2.iloc[i:i+4]
    age_sum = arr.iloc[:,6].sum()
    df2.loc[i:i+4, 'age_sum'] = int(age_sum)
    
for i in range(6,len(df2),11) :
    arr = df2.iloc[i:i+4]
    age_sum = arr.iloc[:,6].sum()
    df2.loc[i:i+4, 'age_sum'] = int(age_sum)

df2.head()

   진료년도 상별구분  시도  시군구 성별    연령구분   환자수  입내원일수     요양급여비용  age_sum
0  2018  우울증  서울  강남구  남    0~9세    17    143    6089540    580.0
1  2018  우울증  서울  강남구  남  10~19세   563   5125  341371930    580.0
2  2018  우울증  서울  강남구  남  20~29세  1555  11045  733848570   5173.0
3  2018  우울증  서울  강남구  남  30~39세  1372   8814  566378520   5173.0
4  2018  우울증  서울  강남구  남  40~49세  1200   7944  472023980   5173.0

In [68]:
print(df2)

       진료년도 상별구분  시도  시군구 성별     연령구분   환자수  입내원일수     요양급여비용  age_sum
0      2018  우울증  서울  강남구  남     0~9세    17    143    6089540    580.0
1      2018  우울증  서울  강남구  남   10~19세   563   5125  341371930    580.0
2      2018  우울증  서울  강남구  남   20~29세  1555  11045  733848570   5173.0
3      2018  우울증  서울  강남구  남   30~39세  1372   8814  566378520   5173.0
4      2018  우울증  서울  강남구  남   40~49세  1200   7944  472023980   5173.0
...     ...  ...  ..  ... ..      ...   ...    ...        ...      ...
27495  2022  우울증  세종  세종시  여   60~69세   522   3240  176751500    945.0
27496  2022  우울증  세종  세종시  여   70~79세   292   1959   95748080    945.0
27497  2022  우울증  세종  세종시  여   80~89세   131    743   32449070    945.0
27498  2022  우울증  세종  세종시  여   90~99세     0      0          0    945.0
27499  2022  우울증  세종  세종시  여  100세 이상     0      0          0    945.0

[27500 rows x 10 columns]

In [69]:
df2.to_csv("uulData_update.csv", encoding="cp949", index=False)

In [125]:
now_df = pd.read_csv("uulData_update.csv",encoding = "cp949")

now_df.head()

   진료년도 상별구분  시도  시군구 성별    연령구분   환자수  입내원일수     요양급여비용  age_sum
0  2018  우울증  서울  강남구  남    0~9세    17    143    6089540    580.0
1  2018  우울증  서울  강남구  남  10~19세   563   5125  341371930    580.0
2  2018  우울증  서울  강남구  남  20~29세  1555  11045  733848570   5173.0
3  2018  우울증  서울  강남구  남  30~39세  1372   8814  566378520   5173.0
4  2018  우울증  서울  강남구  남  40~49세  1200   7944  472023980   5173.0

In [126]:
arr = set(now_df['시군구'])

print(len(now_df))

# new_row = pd.DataFrame(columns=['진료년도','상별구분','시도','시군구','성별','0~19','20~59','60~'])
# new_row[['진료년도','상별구분','시도','시군구','성별']] = now_df.iloc[0:1,0:5]
# new_row['0~19'] = now_df.iloc[0:1,9:10]
# new_row['20~59'] = now_df.iloc[3:4,9:10]
# new_row['60~'] = now_df.iloc[7:8,9:10]
# print(new_row)
#
print(now_df.iloc[0:1,0:5])
print(now_df.iloc[0:1,9:10])
print(now_df.iloc[3:4,9:10])
print(now_df.iloc[7:8,9:10])

27500
   진료년도 상별구분  시도  시군구 성별
0  2018  우울증  서울  강남구  남
   age_sum
0    580.0
   age_sum
3   5173.0
   age_sum
7   1631.0

In [129]:
new_df = pd.DataFrame(columns=['진료년도','상별구분','시도','시군구','성별','0~19','20~59','60~'])

for i in range(0,len(now_df),11) :
    new_row = pd.DataFrame(columns=['진료년도','상별구분','시도','시군구','성별','0~19','20~59','60~'])
    new_row[['진료년도','상별구분','시도','시군구','성별']] = now_df.iloc[i:i+1,0:5]
    new_row['0~19'] = now_df.iloc[i+1,9]
    new_row['20~59'] = now_df.iloc[i+3,9]
    new_row['60~'] = now_df.iloc[i+8,9]
    new_df = pd.concat([new_df,new_row],ignore_index=True)
    
new_df.to_csv("update_uul_location.csv",encoding="cp949")
#v1

In [1]:
df.head()

NameError: name 'df' is not defined